* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: midnightblue;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: repeat(1, minmax(75px, 150px)) repeat(3, 1fr)/ repeat(4, 1fr);
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
    ;
}

.header {
    grid-area: header;
    border: solid 2px white;
    background-color: mintcream;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "search user"
        "intro links-header"
    ;
}

.search {
    grid-area: search;
    display: flex;
    flex: 1;
}

.user {
    grid-area: user;
}

.links-header {
    grid-area: links-header;

}

.links-header ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.intro {
    grid-area: intro;
}

.sidebar {
    grid-area: sidebar;
    border: solid 2px white;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 100px 200px 100px;
    gap: 50px;
    justify-content: center;
}

.logo {
    display: grid;
    justify-content: center;
    align-content: center;
    
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

li {
    list-style: none;
}

.main {
    grid-area: main;
    border: solid 2px white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "card-container main-sidebar"
    ;
    gap: 10px;
}

.main-sidebar {
    grid-area: main-sidebar;
    display: grid;
    grid-template-rows: 5% 1fr 5% 1fr;
    gap: 10px;
    /* margin: 10px; */
}

.announcements-header {
    color: white;
}

.trending-header {
    color: white;

}

.card-container {
    grid-area: card-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 5%) repeat(3, 1fr);
    grid-template-areas: 
        "card-container-header card-container-header"
        "main-card main-card"
        "main-card main-card"
        "main-card main-card"
    ;
    gap: 10px;
    /* margin: 10px; */
}

.card-container-header {
    grid-area: card-container-header;
    color: whitesmoke;
}

.card {
    grid-area: main-card;
    background-color: whitesmoke;

    width: 50%;
    height: 150px;
}

.main-card, .sidebar-card {
    background-color: whitesmoke;
    border: solid 2px rebeccapurple;
}

.sidebar-card {
    background-color: whitesmoke;
}

